Fabric/test if condition pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT TableName, SourceSchema, DestinationPath FROM MetadataTable where ScheduleCategory ='Others'",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "SILVER_WAREHOUSE",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "c9d4dac3-f0c2-4ab7-ada3-6816157abddb",
                  "endpoint": "o3zzo4pnzbqurgos5j4c5z4n3i-w6bcdpbs33dubgf4doiohv4tue.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "bc2182b7-de32-40c7-98bc-1b90e3d793a1"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Others",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup Others').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@equals(item().TableName, 'TargetUnitServed')\n",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Wait",
                    "typeProperties": {
                      "waitTimeInSeconds": 1
                    },
                    "name": "true",
                    "dependsOn": []
                  },
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "SqlServerSource",
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                          "type": "SqlServerTable",
                          "typeProperties": {
                            "schema": "dbo",
                            "table": "TargetUnitServed",
                            "database": "IAMI_PROD"
                          },
                          "schema": [],
                          "externalReferences": {
                            "connection": "483806d7-f16d-4245-b0f4-4fd666d86213"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "OverwriteSchema",
                        "partitionOption": "None",
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "table": "TargetUnitServed"
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "BRONZE_LAKEHOUSE",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "47f67f99-f308-8096-438f-5e930b1567c1",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                          {
                            "source": {
                              "name": "Dealer",
                              "type": "String",
                              "physicalType": "nvarchar",
                              "length": "255"
                            },
                            "sink": {
                              "name": "Dealer",
                              "physicalType": "string"
                            }
                          },
                          {
                            "source": {
                              "name": "Kode Outlet",
                              "type": "String",
                              "physicalType": "nvarchar",
                              "length": "255"
                            },
                            "sink": {
                              "name": "KodeOutlet",
                              "physicalType": "string"
                            }
                          },
                          {
                            "source": {
                              "name": "Target",
                              "type": "String",
                              "physicalType": "nvarchar",
                              "length": "255"
                            },
                            "sink": {
                              "name": "Target",
                              "physicalType": "string"
                            }
                          },
                          {
                            "source": {
                              "name": "Bulan",
                              "type": "String",
                              "physicalType": "nvarchar",
                              "length": "255"
                            },
                            "sink": {
                              "name": "Bulan",
                              "physicalType": "string"
                            }
                          },
                          {
                            "source": {
                              "name": "Value",
                              "type": "Double",
                              "physicalType": "float"
                            },
                            "sink": {
                              "name": "Value",
                              "physicalType": "double"
                            }
                          },
                          {
                            "source": {
                              "name": "Tahun",
                              "type": "String",
                              "physicalType": "varchar",
                              "length": "5"
                            },
                            "sink": {
                              "name": "Tahun",
                              "physicalType": "string"
                            }
                          }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Ingestion TargetUnitServed",
                    "dependsOn": [
                      {
                        "activity": "true",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": [
                  {
                    "type": "Wait",
                    "typeProperties": {
                      "waitTimeInSeconds": 1
                    },
                    "name": "False",
                    "dependsOn": []
                  },
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": {
                          "value": "@concat(\n  'SELECT * FROM ', \n  item().SourceSchema, '.', item().TableName,\n  if(equals(item().TableName, 'TargetUnitServed'), '', ' WHERE TableName <> ''TargetUnitServed''')\n)",
                          "type": "Expression"
                        },
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                          "type": "SqlServerTable",
                          "typeProperties": {
                            "database": "IAMI_PROD"
                          },
                          "schema": [],
                          "externalReferences": {
                            "connection": "483806d7-f16d-4245-b0f4-4fd666d86213"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "OverwriteSchema",
                        "partitionOption": "None",
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "table": "@item().TableName"
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "BRONZE_LAKEHOUSE",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "47f67f99-f308-8096-438f-5e930b1567c1",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Copy data1",
                    "dependsOn": [
                      {
                        "activity": "False",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ]
              },
              "name": "If Condition1",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "schema": "dbo",
                      "table": "TargetUnitServed",
                      "database": "IAMI_PROD"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "483806d7-f16d-4245-b0f4-4fd666d86213"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": "TargetUnitServed"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "BRONZE_LAKEHOUSE",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "47f67f99-f308-8096-438f-5e930b1567c1",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "name": "Dealer",
                        "type": "String",
                        "physicalType": "nvarchar",
                        "length": "255"
                      },
                      "sink": {
                        "name": "Dealer",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "Kode Outlet",
                        "type": "String",
                        "physicalType": "nvarchar",
                        "length": "255"
                      },
                      "sink": {
                        "name": "KodeOutlet",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "Target",
                        "type": "String",
                        "physicalType": "nvarchar",
                        "length": "255"
                      },
                      "sink": {
                        "name": "Target",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "Bulan",
                        "type": "String",
                        "physicalType": "nvarchar",
                        "length": "255"
                      },
                      "sink": {
                        "name": "Bulan",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "Value",
                        "type": "Double",
                        "physicalType": "float"
                      },
                      "sink": {
                        "name": "Value",
                        "physicalType": "double"
                      }
                    },
                    {
                      "source": {
                        "name": "Tahun",
                        "type": "String",
                        "physicalType": "varchar",
                        "length": "5"
                      },
                      "sink": {
                        "name": "Tahun",
                        "physicalType": "string"
                      }
                    }
                  ],
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "TargetUnitServed",
              "dependsOn": []
            }
          ]
        },
        "name": "Ingest Others",
        "dependsOn": [
          {
            "activity": "Lookup Others",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}