Fabric/Ignest to datalakehouse bronze.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": "select schema_name(n.schema_id) AS schema_name, n.name AS table_name FROM sys.tables n where n.name not in ('ZTempFakpol2','ZTempFakpol','worker_20250108','worker_20250106','Worker','tess_r272','tess_r27','temp_Worker','TargetUnitServed','Target_3S_BAK','report_58_test','Report_58_old','report_58_cancelled','Report_58_Cancel','Report_58_Backup20241024','Report_58_Backup_Nov','report_58_20250104','Report_58','Report_52_EUS','Report_46','KPIUnitServedDetail','KPI_SL_Outlet','KPI_SL_Detail','KPI_SL_Dealer','Demand_LCV_2022','Demand_CV_2022','AGITEFakpol_2022') ORDER BY table_name\n",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "IAMI_PROD"
            },
            "schema": [],
            "externalReferences": {
              "connection": "36f64b57-a64a-4d1a-8465-3238df5a6960"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Lookup1').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@item().schema_name",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@item().table_name",
                        "type": "Expression"
                      },
                      "database": "IAMI_PROD"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "36f64b57-a64a-4d1a-8465-3238df5a6960"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@item().table_name",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "BRONZE_LAKEHOUSE",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "47f67f99-f308-8096-438f-5e930b1567c1",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}