Fabric/Ingest TargetSales.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('get 12 month').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "@concat(\n  'EXEC [dbo].[GetTargetSalesForPowerBI] ',\n  '@Year = ''', variables('currentYear'), ''', ',\n  '@Month = ''', variables('currentMonth'), ''', ',\n  '@SiteCode = '''', ',\n  '@DealerType = 1 ',\n  'WITH RESULT SETS(( ',\n  'ID nvarchar(50) not null, ',\n  'BranchCode int null, ',\n  'SiteCode nvarchar(50), ',\n  '[Site] nvarchar(150), ',\n  'MonthPeriod int null, ',\n  'YearPeriod int null, ',\n  'FuncAreaId int null, ',\n  'TargetSales int null, ',\n  'IsDeleted int null, ',\n  'CreatedOn datetime null, ',\n  'CreatedBy varchar(50) null, ',\n  'ModifiedOn datetime null, ',\n  'ModifiedBy varchar(250) null, ',\n  'IsSentDOS int null, ',\n  'IsSentMyz int null ',\n  '))'\n)\n",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "database": "PowerBINonSAP"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "4a610ece-0e32-46fd-8611-c3ba53b9f48b"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Append",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": "TargetSales"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "BRONZE_LAKEHOUSE_154_NONSAP",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "070b85fb-8802-8bb6-4995-104e333fa733",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "name": "ID",
                        "type": "String",
                        "physicalType": "nvarchar",
                        "length": "50"
                      },
                      "sink": {
                        "name": "ID",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "BranchCode",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "BranchCode",
                        "physicalType": "integer"
                      }
                    },
                    {
                      "source": {
                        "name": "SiteCode",
                        "type": "String",
                        "physicalType": "nvarchar",
                        "length": "50"
                      },
                      "sink": {
                        "name": "SiteCode",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "Site",
                        "type": "String",
                        "physicalType": "nvarchar",
                        "length": "150"
                      },
                      "sink": {
                        "name": "Site",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "MonthPeriod",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "MonthPeriod",
                        "physicalType": "integer"
                      }
                    },
                    {
                      "source": {
                        "name": "YearPeriod",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "YearPeriod",
                        "physicalType": "integer"
                      }
                    },
                    {
                      "source": {
                        "name": "FuncAreaId",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "FuncAreaId",
                        "physicalType": "integer"
                      }
                    },
                    {
                      "source": {
                        "name": "TargetSales",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "TargetSales",
                        "physicalType": "integer"
                      }
                    },
                    {
                      "source": {
                        "name": "IsDeleted",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "IsDeleted",
                        "physicalType": "integer"
                      }
                    },
                    {
                      "source": {
                        "name": "CreatedOn",
                        "type": "DateTime",
                        "physicalType": "datetime"
                      },
                      "sink": {
                        "name": "CreatedOn",
                        "physicalType": "timestamp"
                      }
                    },
                    {
                      "source": {
                        "name": "CreatedBy",
                        "type": "String",
                        "physicalType": "varchar",
                        "length": "50"
                      },
                      "sink": {
                        "name": "CreatedBy",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "ModifiedOn",
                        "type": "DateTime",
                        "physicalType": "datetime"
                      },
                      "sink": {
                        "name": "ModifiedOn",
                        "physicalType": "timestamp"
                      }
                    },
                    {
                      "source": {
                        "name": "ModifiedBy",
                        "type": "String",
                        "physicalType": "varchar",
                        "length": "250"
                      },
                      "sink": {
                        "name": "ModifiedBy",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "IsSentDOS",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "IsSentDOS",
                        "physicalType": "integer"
                      }
                    },
                    {
                      "source": {
                        "name": "IsSentMyz",
                        "type": "Int32",
                        "physicalType": "int"
                      },
                      "sink": {
                        "name": "IsSentMyz",
                        "physicalType": "integer"
                      }
                    }
                  ],
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy TargetSales to Bronze",
              "dependsOn": [
                {
                  "activity": "Set variable currentMonth",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "Set variable currentYear",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "currentMonth",
                "value": {
                  "value": "@string(item().MonthPeriod)\n",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set variable currentMonth",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "currentYear",
                "value": {
                  "value": "@formatDateTime(utcNow(), 'yyyy')",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set variable currentYear",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "get 12 month",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": "select distinct MonthPeriod from TargetSalesDealerAI order by MonthPeriod Asc",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "PowerBINonSAP"
            },
            "schema": [],
            "externalReferences": {
              "connection": "4a610ece-0e32-46fd-8611-c3ba53b9f48b"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "get 12 month",
        "dependsOn": [
          {
            "activity": "Notebook delete targetsales before insert",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "28a09bcf-548a-b59d-40ca-048c8b665f0e",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Notebook delete targetsales before insert",
        "dependsOn": []
      }
    ],
    "variables": {
      "currentYear": {
        "type": "String",
        "defaultValue": "2025"
      },
      "currentMonth": {
        "type": "String",
        "defaultValue": "1"
      }
    }
  }
}